<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hand.hrms4android"
    android:versionCode="1"
    android:versionName="aries" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.hand.hrms4android.application.HrmsApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity android:name="com.hand.hrms4android.activity.LoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.LoginActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.TodoListActivity"
            android:label="@string/title_activity_todo_list" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.DoneListActivity"
            android:label="@string/title_activity_done_list" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.ApproveDetailActivity"
            android:label="明细"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.ApproveOpinionActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.DeliverActivity"
            android:label="@string/title_activity_deliver"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.FunctionListActivity"
            android:label="@string/title_activity_function_list" >
        </activity>
        <activity
            android:name="com.hand.hrms4android.activity.HTMLActivity"
            android:label="@string/title_activity_html" >
        </activity>
    </application>

</manifest>